.common_section {
    background: linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.658)),url('../assets/images/common-section.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
}
.common_section h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}

@media only screen and (max-width:768px) {
    .common_section {
        padding: 70px 0px;
    }

    .common_section h1 {
        font-size: 1.5rem;
    }

    .product_category {
        font-size: 0.8rem;
    }
}